{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid flex-column"></div>
    <div class="col-md-8 mt-3 offset-md-2">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="mb-4 text-black mt-3"><i class="fa-solid fa-envelopes-bulk fa-beat"></i> Create Reviews</h2>
                <hr>
            <div class="col-12 text-center">
            {% if reviews %}
            <h4 class="mt-30 text-primary">Edit Review:</h4>
            <p class="text-black"><i class="fas fa-user text-primary"></i> {{ user.username  | slice:":10" }}</p>
            {% else %}
            <h4 class="mt-30 text-primary">Add a Review:</h4>
            <p class="text-black"><i class="fas fa-user text-primary"></i> {{ user.username  | slice:":10" }}</p>
            {% endif %}
        </div>
    </div>
</div>
    <div class="col-md-8 mt-3 offset-md-2">
        <div class="row">
            <div class="col text-center">
            {% if reviews %}
            <h3 class="mb-4 text-black">We Value Customer Feedback</h3>
            {% else %}
            <h3 class="mb-4 text-black">We Appreciate Your Honest Review!</h3>
            {% endif %}
            <p class="pt-lg-2 text-justify text-black">
                Dear Customer, Thank you for ordering with our online store.
                We welcome all kind of honest reviews, If you have placed an order with 
                Prestige|Watches and have received postive or negative customer service, then
                please make us aware, so we can improve on any service which is not of a 5 star rating. 
            </p>
            <p class="pt-lg-2 text-black">Thank You</p>
            <p class="pt-lg-2 text-info">Prestige|Watches</p>
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-3 offset-md-2">
        <div class="row">
            <div class="col text-center">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                    <button class="btn btn-success mb-4" type="submit" value="Save" aria-label="Submit Review">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    // Add new image
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}