{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="overlay">
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4"><i class="fa-solid fa-wrench fa-beat"></i> Create Reviews</h2>
            {% if reviews %}
            <h5 class="text-success small">Edit a review as :</h5>
            <h5 class="text-black small"><i class="fas fa-user text-primary"></i> {{ user.username  | slice:":10" }}</h5>
            {% else %}
            <h5 class="text-success small">Add a review as :</h5>
            <h5 class="text-black small"><i class="fas fa-user text-primary"></i> {{ user.username  | slice:":10" }}</h5>
            {% endif %}
            <hr>
        </div>
    </div>

    <div class="col-12 col-md-6">
        {% if reviews %}
        <h3 class="mb-4 text-black">We Value Customer Feedback</h3>
        {% else %}
        <h3 class="mb-4 text-black">We Appreciate Your Honest Review!</h3>
        {% endif %}
        <p class="text-black">Dear Customer</p>
        <p class="text-black">Thank you for ordering with our online store.</p>
        <p class="text-black">We welcome all kind of honest reviews</p>
        <p class="text-black">If you have placed an order with 
            Prestige|Watches and have received postive or negative customer service</p>
        <p class="text-black">Then please make us aware, so we can improve on any service which is not of a 5 star rating.</p>
        <p class="text-black">Thank You</p>
        <p class="text-info">Prestige|Watches</p>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'image' %}
        {{ field | as_crispy_field }}
        {% else %}
        {{ field }}
        {% endif %}
        {% endfor %}
        <button class="btn btn-success mb-4" type="submit" value="Save" aria-label="Submit Review">Submit</button>
        </form>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    // Add new image
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}