{% extends "base.html" %}
{% load static %}

{% block extra_title %} Reviews {% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50 mb-1">
            <h1 class="logo-font text-primary">Customer Reviews</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>

<div class="row">
    {% for review in reviews_view %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card h-100 border-0">
            <div class="review-box">
            <hr>
            <p class="text-black small"><i class="fas fa-user fa-lg text-primary small"></i>This review was by: {{ review.name  | slice:":10" }}</p>
            <hr>
            <p class="text-info small">"{{ review.title}}"</p>
            <hr>
            <span>
            {% if review.rating == 5 %}
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            {% elif review.rating == 4 %}
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-dark"></i>
            {% else%}
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-warning"></i>
            <i class="fas fa-star text-dark"></i>
            <i class="fas fa-star text-dark"></i>
            {% endif %}
            </span>
        <hr>
         <p class="mt-2 text-info small"><i class="fa fa-clock"></i> This review was published on: {{ review.created_on | date:"D d M Y" }}</p>
         <hr>
         <div class="review-text">
            <p class="mt-3 text-black"> Customer Feedback</p>
                <p class="mt-3 text-info small">{{ review.customer_review }}</p>
         </div>
         <div class="review-img">
            {% if review.image %}
            <img class="review-image card-img-top img-fluid mt-3" src="{{ review.image.url }}" alt="{{ review.name }} Review Image">
            {% else %}
            <img class="review-image card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ review.name }} Review Image">
            {% endif %}
         </div>
         {% endfor %}
         {% endblock %}
     