{% extends "base.html" %}
{% load static %}

{% block extra_title %} Blog {% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50 mb-1">
            <h1 class="logo-font text-primary">Customer Reviews</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
{% endblock %}