html {
    height: 100%;
}

body {
    background: url('/media/rolex2.png'), url('/media/rolex3.jpg')  no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Shop-now-button for the Home/index.html  */
.shop-now-button {
    background-color: rgb(14, 16, 16);
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}

.shop-now-button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.btn-black {
    background: black;
    color: white;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Text for the index page layout Home/index.html  */
#intro-section .logo {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding-top: 50px !important;
}

.btn-intro {
    margin-top: 25px;
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--text-white);
    border: 2px solid var(--text-white);
    padding: 10px 25px;
    letter-spacing: 5px;
}

.btn-intro:hover {
    letter-spacing: 5px;
    color: var(--iterative-color);
    border: 2px solid var(--iterative-color);
}

#intro-section {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--overlay-black);
    color: var(--text-white);
    overflow: hidden;
}

#intro-section header {
    position: absolute;
    top: -22px;
    left: 0;
    padding: 50px;
    z-index: 10;
}


#intro-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-black);
    opacity: 0.5;
    z-index: 2;
}

#intro-section .text-box {
    position: absolute;
    left: 50px;
    z-index: 10;
    margin-top: 25px;
}

#intro-section .text-box h1,
#intro-section .text-box h3 {
    text-transform: uppercase;
    font-weight: 600;
}

#intro-section .text-box h1 {
    font-size: 3.2rem;
    font-weight: 800;

}

#intro-section .text-box h3 {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    margin-bottom: 15px;
}

#intro-section .text-box h1,
#intro-section .text-box h3 {
    letter-spacing: 4px;
}

#intro-section .text-box p {
    font-size: 1.1rem;
    width: 90%;
}


/* Marquee for free delivery text */
.wrapper{
    height: 40px;
    text-align: right;
}

/* Main Nav.html nav bar */
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #7F8C93;
    -moz-text-decoration-color: #7F8C93;
    text-decoration-thickness: 5px;
    }

/* index page, header text to flash */
.blink_me {
    animation: blinker 3s linear infinite;
    }
    
    @keyframes blinker {
    50% {
        opacity: 0;
    }
    }

    /* Products.html - white background for products*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

   /* Font Awsome icon colour change */
.gender { 
    color: blue
}

.rating { 
    color: yellow
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
