html {
    height: 100%;
}

body {
    background: url('/media/rolex2.png'), url('/media/rolex3.jpg')  no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    overflow-x: hidden;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Logo header */
.high-precision {
    color: #FFD700;
    font-weight: bold;
}

/* Shop-now-button for the Home/index.html  */
.shop-now-button {
    background-color: rgb(14, 16, 16);
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}

.shop-now-button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.btn-black {
    background: black;
    color: white;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Text for the index page layout Home/index.html  */
#intro-section .logo {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    padding-top: 50px !important;
}

.btn-intro {
    margin-top: 25px;
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--text-white);
    border: 2px solid var(--text-white);
    padding: 10px 25px;
    letter-spacing: 5px;
}

.btn-intro:hover {
    letter-spacing: 5px;
    color: var(--iterative-color);
    border: 2px solid var(--iterative-color);
}

#intro-section {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--overlay-black);
    color: var(--text-white);
    overflow: hidden;
}

#intro-section header {
    position: absolute;
    top: -22px;
    left: 0;
    padding: 50px;
    z-index: 10;
}


#intro-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-black);
    opacity: 0.5;
    z-index: 2;
}

#intro-section .text-box {
    position: absolute;
    left: 50px;
    z-index: 10;
    margin-top: 25px;
}

#intro-section .text-box h1,
#intro-section .text-box h3 {
    text-transform: uppercase;
    font-weight: 600;
}

#intro-section .text-box h1 {
    font-size: 3.2rem;
    font-weight: 800;

}

#intro-section .text-box h3 {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    margin-bottom: 15px;
}

#intro-section .text-box h1,
#intro-section .text-box h3 {
    letter-spacing: 4px;
}

#intro-section .text-box p {
    font-size: 1.1rem;
    width: 90%;
}

/* ------------------------------------ Search Box */

input[name='q']::placeholder {
    color: #730C02;
}

/* Marquee for free delivery text */
.wrapper{
    height: 40px;
    text-align: right;
}

/* Main Nav.html nav bar */
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #7F8C93;
    -moz-text-decoration-color: #7F8C93;
    text-decoration-thickness: 5px;
    }

/* index page, header text to flash */
.blink_me {
    animation: blinker 3s linear infinite;
    }
    
    @keyframes blinker {
    50% {
        opacity: 0;
    }
    }

    /* Products.html - white background for products*/
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

   /* Font Awsome icon colour change */
.gender { 
    color: #3a3a3a;
}

.rating { 
    color: gold;
}

  /* Category display section */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

  /* Product html back to top page link  */
.btt-button {
    height: 22px;
    width: 22px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btt-button :hover {
    background-color: #555;
    
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: var(--red) !important;
}

.arrow-warning {
    border-bottom-color: var(--yellow) !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Blog  */
.title {
    font-size: 20px;
    font-family: 'Lato';
}
.main-logo-link {
    width: fit-content;
}

.footer {

    background-color: #555;
    color: #fff;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* Allauth form formatting */
  
  /* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}


  /* Image field Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--red);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--red);
    border-radius: 0;
}
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }