<div class="collapse navbar-collapse text-center mt-2 mt-lg-0" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mx-lg-3 {% if request.path == home %} current-page {% endif %}" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold color-burgundy mx-lg-3 {% if request.path == products %} current-page {% endif %}" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">All Products</a>
                <a href="#">Rolex</a>
                <a href="#">Patex Phillipe</a>
                <a href="#">Omega</a>
                <a href="#">Seiko</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mx-lg-3" href="#">
                About Us
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold color-burgundy mx-lg-3" href="#">
                Contact
            </a>
        </li>
    </ul>
</div>