{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} Add Blog {% endblock %}

{% block page_header %}
<div class="overlay">
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col text-center">
            <hr class="w-50 mb-1">
            <h2 class="mb-4 text-black"><i class="fa-solid fa-envelopes-bulk fa-beat"></i> Blog Management</h2>
            <p class="text-primary">Add Blog</p>
            <hr>
        </div>
    </div>
</div>
</div>
    <div class="col-md-8 mt-3 offset-md-2">
        <div class="row">
            <div class="col text-center">
                <form action="{% url 'add_blog' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="col">
                        <a class="btn btn-danger" href="{% url 'blog' %}">Cancel</a>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    // Add new image
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}
