{% extends "base.html" %}
{% load static %}
{% block extra_title %} Post Blog {% endblock %}
{% block page_header %}

<div class="overlay"></div>
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div> {% endblock %} {% block content %} <div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2 ">
      <div class="my-5"> {% if post.image %} <a href="{{ post.image.url }}" target="_blank">
          <img class="card-img-top img-fluid width=100%" src="{{ post.image.url }}" alt="{{ post.title }}">
        </a> {% else %} <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}"> {% endif %} </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="mb-5 mt-md-5">
        <h2 class="title">
          <hr>
          <strong>{{ post.title }}</strong>
          <hr>
        </h2>
        <p class="mt-3 small text-black">This Blog Was Created On:  <span class="mt-3 text-info">{{ post.created_on }}</span></p>
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="mt-3 small text-black"> The Author of this blog was: <span class="mt-3 text-info">{{ post.author }}</span></p>
      </div>
      <div class="mb-2 mt-md-5">
        <p class="mt-3">{{ post.body|safe }}</p> {% if request.user.is_superuser %} <p class="ml-3">
          <a class="text-primary small" href="{% url 'edit_blog' post.slug %}">Edit Blog</a> |
          <a class="delete text-danger small" href="{% url 'delete_blog' post.slug %}">Delete Blog</a>
        </p> {% endif %}
      </div>
      <div class="col-12">
        <a href="{% url 'blog' %}" class="btn btn-black rounded-0 mt-5">
          <span class="icon">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="text-warning">Blogs Home Page</span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <br> {% if user.is_authenticated %} <div class="container">
    <h3>Add Comments</h3>
    <hr>
    <form action="/blog/{{post.slug}}/" method="POST"> {% csrf_token %} <div class="form-floating mt-3">
        <textarea class="form-control" required placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" id="body" name="body"></textarea>
        <hr>
        <label for="floatingTextarea2" class="text-primary">Why not drop us a comment?</label>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form> {% else %} <div class="container">
      <a href="/accounts/login/" class="btn btn-black rounded-0 login-direct">Login</a> first to post comments below. <br> {% endif %} <br>
      <p>All Comments ({{comments.count}})</p>
      <br> {% for comment in comments %} <div class="card">
        <div class="card-header">
          <p>
            <strong>{{comment.user}}</strong>
            <span class="date-time">
              {{comment.dateTime}}
            </span>
          </p>
        </div>
        <div class="col-1">
          <strong>
            {% if user.is_authenticated %}
              <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                  {% csrf_token %}
                  {% if liked %}
                  <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart text-danger"></i></button>
                  {% else %}
                  <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart text-danger"></i></button>
                  {% endif %}
              </form>
              {% else %}
              <span class="text-secondary"><i class="far fa-heart text-danger"></i></span>
              {% endif %}
          <!-- The number of likes goes before the closing strong tag -->
          <span class="text-secondary">{{ post.number_of_likes }} </span>
          </strong>
      </div>
        <div class="card-body">
          <p class="card-text">{{comment.body}}</p> {% if request.user.is_superuser %} <small>
            <a class="text-danger" href="{% url 'delete_comment' comment.id %}">Delete Comment</a>
          </small> 
          {% endif %}
        </div>
      </div>
      <br> 
      {% endfor %}
    </div>
  </div>
</div> 
{% endblock %}