{% extends "base.html" %}
{% load static %}
{% block page_header %}

<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>

{% endblock %}
{% block content %}

<!-- Edit product section-->
<div class="overlay"></div>
<div class="container">
   <div class="row">
      <div class="col-12 col-md-6">
         <hr>
         <h2 class="sub-title mb-4 text-black"><i class="fa-solid fa-wrench fa-beat"></i> Product Management</h2>
         <h5 class="text-success small">Edit a product as:</h5>
         <h5 class="text-black small"><i class="fas fa-user text-primary"></i> {{ user }}</h5>
         <hr>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-md-6">
         <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <a href="{% url 'products' %}" aria-label="Go to the products page" class="btn btn-danger">Cancel</a>
            <button class="btn btn-success" type="submit" aria-label="Update Product">Update Product</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
   // Js to a add new image
   $('#new-image').change(function() {
       var file = $('#new-image')[0].files[0];
       $('#filename').text(`Image will be set to: ${file.name}`);
   });
</script>
{% endblock %}