{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col text-center">
        <div class="card h-100 border-0">
        <h5 class="logo-font text-warning text-center">About Us</h5>
        <hr class="text-black">
    </div>
</div>
</div>
<div class="container-fluid d-flex flex-column"></div>
<p> Prestige|Watches is a trade name of Prestige|Watches. Prestige|Watches which is depending on a holding company operating in the watch industry since 1977, aims to bring consumers and quality products together. Watch Home is a retailer of luxury watches with various supply networks and points of sale in many different countries all around the world. Watch Home offers its valuable experiences gained in e-commerce and watch industry to the customers through the world-famous brands to create a product and marketing concept in line with the dynamics of the age.

    Prestige|Watches always aim to contact strongly with the customers thanks to its professional customer support team before, during & after the buying process. The brand is aware of the need to achieve its share in terms of quality and reliability in the sector. Watch Home continues to gain the attention of watch enthusiasts with its original products and fast solutions offered to consumers.

<h6>Why Choose Prestige|Watches?</h6>
Watch Home is an authorized and regulated appointed representative of the brands it incorporates. Every product on the site is carefully selected for our valued customers.

<h6>Fast Delivery</h6>
All orders are processed within 2-3 business days.

<h6>Price Match</h6>
We are committed not only to offering you the best shopping experience but also the most competitive prices across our branded watches. If you see any of our branded watches elsewhere at a lower price, we will match the price for you once the conditions are met. Our experts will examine the product and reach you within 2 working days from the contact information you have given.

<h6>Customer Support</h6>
Prestige|Watches customer support team are on hand to answer your questions.

<h6>Free Shipping UK</h6>
Free delivery is available if you order from UK.

If you have any comments or questions, you can reach us via phone, live chat or e-mail!
    </p>
    </div>